 footer {
    display: flex;
    background-color: #3a7ca5; 
    padding: 20px; 
    margin-top: auto; 
    width: 100%;
    position: absolute;
    bottom: 0;
  }

.footer-container {
    flex-direction: column;
    justify-content: center;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container ul {
    display: flex; 
    justify-content: flex-start;
}

.footer-container li {
    margin: 5px;
    
}
.footer-container a {
    color: #d9dcd6;
    font-size: 1.2rem;
}

.footer-socials {
    display: flex;
    justify-content: center;
}
.footer-socials img{
    width: 50px;
}