header {
    padding: 5rem;
    background-color: #3a7ca5; 
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: right;
}

.navbar h2, a {
    color: #d9dcd6;
    text-decoration: none;
    margin: 10px;
}

